/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 8-Feb-2016, 10:16:32 PM
    Author     : Yoseph Jo
*/

/* generic styles */
* {
	margin: 0px;
	padding: 0;
}

html {
	height: 100%;
	font-size: 62.5%;
}

body {
	height: 100%;
	text-align: center;
	font: 1.2em Verdana, Arial, Helvetica, sans-serif;
	min-width: 950px;
}
a:link, a:visited {
	color: #005AA1;
	text-decoration: none;
	font-weight: bold;
}

a:hover {
	text-decoration: none;
}

p {
	line-height: 170%;
	margin-bottom: 10px;
	color: #003B69;
}

h1 {
	font-size: 2.8em;
	font-weight: normal;
	text-align: left;
	padding: 49px 0 0 42px;
}

	h1 a:link, h1 a:visited {
		font-weight: normal;
		text-decoration: none;
	}

h2 {
	font-size: 1.6em;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-weight: normal;
	text-align: left;
	margin: 3px 0 0 2px;
}

h3 {
	font-size: 1.4em;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-weight: normal;
	letter-spacing: 1px;
	padding-bottom: 3px;
	border-bottom: 1px solid #004C87;
	margin-bottom: 7px;
}

#content {
	width: 1000px;
	margin: 0 auto;
	background-color: #FFFFFF;
	border-right: 1px solid #B0B0B0;
	border-left: 1px solid #B0B0B0;
	padding-bottom: 80px;
	min-height: 544px;
}