/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 8-Feb-2016, 10:16:32 PM
    Author     : Yoseph Jo
*/

/* generic styles */
*
{
	font-family: 'Lucida Grande', Verdana, Arial, Helvetica, Sans-serif;
	margin: 0;
	padding: 0;
	font-size: 11px;
	outline-style: none;
	color: #000;
	text-shadow: none !important;
	background: none;
}

h2
{
	font-size: 14px !important; 
	margin-bottom: 10px !important;
}

a
{
	color: #0e3e7e !important;
	text-decoration: none !important;
	font-weight: normal !important;
	border: none !important;
}
	a:hover
	{
		text-decoration: underline !important;
	}

input
{
	color: #000 !important;
}

label 
{
	text-transform: none !important;
	font-weight: normal !important;
}

.content
{
	display: none;
	position: fixed;
	top: 50px;
	left: 50%;
	margin-left: -222px;
	color: #333;
	/*    padding: 10px 20px;*/
	width: 400px;
	border: 2px solid #666;
	z-index: 300000;
	background-color: #fff;
	word-wrap:break-word;
	border: 1px solid #ccc; display: none; 
	-moz-box-shadow: 1px 0px 5px 1px rgba(0,0,0,0.3); 
	-webkit-box-shadow: 1px 0px 5px 1px rgba(0,0,0,0.3); 
	box-shadow: 1px 0px 5px 1px rgba(0,0,0,0.3);
}