/* 
	Created on : 13-Feb-2016, 12:02:01 PM
	Author     : Yoseph Jo
*/

div.content-left { 
	width: 45%; 
	display: inline-block;
}

#game_status, #bot_summary {
	margin-right: 1em;
	padding-top: 1em;
	padding-left: 1em;
	border: black solid 1.5px;
	border-top: #004A75 solid 1.5em;
	min-height: 150px;
}

div#player_info {
	width: 50%;
	min-height: 400px;
	float: right;
	margin-right: 1em;
	padding-top: 1em;
	padding-left: 1em;
	border: black solid 1.5px;
	border-top: #004A75 solid 1.5em;
}