/* 
	Created on : 13-Feb-2016, 12:02:12 PM
	Author     : yoseph
*/

#playerSelect {
	padding-bottom: 1.5em;
	font-weight: 600;
}

div.contentleft {
	display: inline-block;
}

#avatar > img {
	padding: 1.5em;
	border: 2px #002166 solid;
}

div.content-right {
	width: 60%;
	display: inline-block;
	margin-left: 5%;
}

#playerDetails {
	width: auto;
	display: inline-block;
}

label {
	display: inline-block;
	width: 90px;
	text-align: left;
}

#playerDetails > p {
	font-size: 1.2em;
}

#playerCards {
	
	display: inline-block;
	padding-bottom: 2em;
}

caption {
	text-align: left;
	font-weight: bold;
	padding-left: 10px;
	font-size: 1.0em;
}

.center {
	margin-left: 10%;
}