@media only screen and (max-width: 980px) {
	header{ 
		width: auto;
		min-height: 0;
		margin: 0 auto;
	}

	div#header-in > a > img{
		width: 84%;
		min-height: 125px;
		padding-top: 2em
	}

	nav > ul {
		font-weight: 700;
		width: 100%; 
	}
	nav,
	nav ul,
	nav li,
	nav a {
		margin: 0;
		padding: 0;
		border: 0;
		list-style: none;
		font-weight: normal;
		text-decoration: none;
		font-family: 'Open Sans', sans-serif;
		font-size: 14px;
		position: relative;
	}
	nav {
		width: auto;
		border-bottom: 4px solid #656659;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
	}
	nav a {
		line-height: 1.3;
	}
	nav > ul > li:first-child {
		background: url(../images/menu-bg.png) repeat;
		border-top: 3px solid #cb4329;
	}
	nav > ul > li:first-child > a {
		background: url(../images/pattern.png) top left repeat;
		padding: 15px 20px;
		border: none;
		-webkit-border-radius: 3px 3px 0 0;
		-moz-border-radius: 3px 3px 0 0;
		border-radius: 3px 3px 0 0;
		font-family: 'Ubuntu', sans-serif;
		text-align: center;
		font-size: 1.0em;
		font-weight: 500;
		text-shadow: 0 -1px 1px #000000;
	}
	nav > ul > li:first-child > a > span {
		padding: 0;
	}
	nav > ul > li:first-child:hover {
		background: #218bb2;
	}
	nav > ul > li {
		background: url(../images/menu-bg.png) repeat;
		border: none;
		border-top: 1px solid #000000;
		-webkit-border-radius: 3px 3px 0 0;
		-moz-border-radius: 3px 3px 0 0;
		border-radius: 3px 3px 0 0;
		font-family: 'Ubuntu', sans-serif;
		text-align: center;
		font-size: 18px;
		font-weight: 500;
		text-shadow: 0 -1px 1px #000000;
	}
	nav > ul > li:hover {
		background: #218bb2;
	}
	nav > ul > li > a,
	nav > ul > li > span {
		font-size: 1.0em;
		padding: 15px 20px;
		display: block;
		color: #ffffff;
		border-top: none;
		text-shadow: 0 -1px 1px #751d0c;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
		text-align: center;
	}
	nav > ul > li > a:hover {
		text-decoration: none;
	}
	nav > ul > li.active {
		background: #218bb2;
		border-bottom: none;
	}
	nav > ul > li.has-sub > a span {
		background: url(../images/icon_plus.png) 96% center no-repeat;
	}
	nav > ul > li.has-sub.active > a span {
		background: url(../images/icon_minus.png) 96% center no-repeat;
	}

	#loginbar{
		background: url(../images/menu-bg.png) repeat;
		margin: 0 auto;
		border-top: 1px solid #000000;
		padding: 15px 20px;
	}
	
	#loginbar > form.login{
		padding: 0;
	}

	nav > ul > #logged{
		background: url(../images/menu-bg.png) repeat;
		margin: 0;
		width: 100%;
		border-top: 1px solid #000000;
	}

	#logged > div{
		padding: 15px 20px;
		text-align: center;
	}

	.message {
		font-size: 1.2em;
		padding-right: 20px;
	}

	footer { 
		width: 95%;
		margin: 0 auto;
	}
}

/* Smartphones */
@media only screen and (max-width : 815px) {
	header{ 
		width: auto;
		min-height: 0;
		margin: 0 auto;
	}

	div#header-in > a > img{
		min-width: 330px;
		width: 100%;
		min-height: 150px;
		padding-top: 2.25em
	}

	nav > ul {
		font-weight: 700;
		width: 100%; 
	}
	nav,
	nav ul,
	nav li,
	nav a {
		margin: 0;
		padding: 0;
		border: 0;
		list-style: none;
		font-weight: normal;
		text-decoration: none;
		font-family: 'Open Sans', sans-serif;
		font-size: 14px;
		position: relative;
	}
	nav {
		width: auto;
		border-bottom: 4px solid #656659;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
	}
	nav a {
		line-height: 1.3;
	}
	nav > ul > li:first-child {
		background: url(../images/menu-bg.png) repeat;
		border-top: 3px solid #cb4329;
	}
	nav > ul > li:first-child > a {
		background: url(../images/pattern.png) top left repeat;
		padding: 15px 20px;
		border: none;
		-webkit-border-radius: 3px 3px 0 0;
		-moz-border-radius: 3px 3px 0 0;
		border-radius: 3px 3px 0 0;
		font-family: 'Ubuntu', sans-serif;
		text-align: center;
		font-size: 1.2em;
		font-weight: 400;
		text-shadow: 0 -1px 1px #000000;
	}
	nav > ul > li:first-child > a > span {
		padding: 0;
	}
	nav > ul > li:first-child:hover {
		background: #218bb2;
	}
	nav > ul > li {
		background: url(../images/menu-bg.png) repeat;
		border: none;
		border-top: 1px solid #000000;
		-webkit-border-radius: 3px 3px 0 0;
		-moz-border-radius: 3px 3px 0 0;
		border-radius: 3px 3px 0 0;
		font-family: 'Ubuntu', sans-serif;
		text-align: center;
		font-size: 18px;
		font-weight: 300;
		text-shadow: 0 -1px 1px #000000;
	}
	nav > ul > li:hover {
		background: #218bb2;
	}
	nav > ul > li > a,
	nav > ul > li > span {
		font-size: 1.2em;
		padding: 15px 20px;
		display: block;
		color: #ffffff;
		border-top: none;
		text-shadow: 0 -1px 1px #751d0c;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
		text-align: center;
	}
	nav > ul > li > a:hover {
		text-decoration: none;
	}
	nav > ul > li.active {
		background: #218bb2;
		border-bottom: none;
	}
	nav > ul > li.has-sub > a span {
		background: url(../images/icon_plus.png) 96% center no-repeat;
	}
	nav > ul > li.has-sub.active > a span {
		background: url(../images/icon_minus.png) 96% center no-repeat;
	}
	/*	 Sub menu 
		nav ul ul {
			display: none;
			background: #fff;
			border-right: 1px solid #a2a194;
			border-left: 1px solid #a2a194;
		}
		nav ul ul li {
			padding: 0;
			border-bottom: 1px solid #d4d4d4;
			border-top: none;
			background: #f7f7f7;
			background: -moz-linear-gradient(#f7f7f7 0%, #ececec 100%);
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f7f7f7), color-stop(100%, #ececec));
			background: -webkit-linear-gradient(#f7f7f7 0%, #ececec 100%);
			background: linear-gradient(#f7f7f7 0%, #ececec 100%);
		}
		nav ul ul li:last-child {
			border-bottom: none;
		}
		nav ul ul a {
			padding: 10px 10px 10px 25px;
			display: block;
			color: #676767;
			font-size: 12px;
			font-weight: normal;
		}
		nav ul ul a:before {
			content: "»";
			position: absolute;
			left: 10px;
			color: #e94f31;
		}
		nav ul ul a:hover {
			color: #e94f31;
		}*/

	#container { 
		width: 98%; 
		padding: 5px;
	}
	#content { 
		width: auto; 
	}
	#contentleft { 
		width: 95%;
		margin-right: 2em; 
		padding: 1.2em; 
	}
	#contentleft h1 { 
		font-size: 150%; 
	}
	aside, .desktop {
		display: none;
	}
}