/*Website CSS layout for Tablets (1024px))*/

@media screen and (max-width: 1560px) {
	header {
		width: 95%;
	}

	div#header-in > a > img{
		min-height: 100px;
		padding-top: 1.75em;
	}

	nav > ul {
		font-weight: 700;
		width: 100%; 
	}
	nav {
		width: 95%;
		margin: 0 auto;
	}

	#container {
		width: 95%;
		padding: 10px;
		padding-bottom: 5px;
	}
	
	#content { 
		width: 100%; 
	}


	footer {
		width: 95%;
	}
}