/*Website CSS layout for Tablets (1024px))*/

@media screen and (max-width: 1560px) {
	header {
		width: 95%;
	}
	nav > ul {
		font-weight: 700;
		width: 100%; 
	}
	nav {
		width: 95%; 
	}

	#container {
		width: 95%;
		padding: 10px;
		padding-bottom: 5px;
	}
	#content { 
		width: 100%; 
	}
	#contentleft { 
		width: 65%; 
		margin-right: 2em; 
		padding: 1.2em; 
	}
	#contentleft h1 { 
		font-size: 1.75em; 
	}
	footer {
		width: 95%;
	}
}