/******************************************************************************/
/*******************************BUTTON TEMPLATE********************************/
/******************************************************************************/
button, input[type="submit"], input[type="reset"] {        
	background: #3498db;
	background-image: -webkit-linear-gradient(top, #3498db, #002166);
	background-image: -moz-linear-gradient(top, #3498db, #002166);
	background-image: -ms-linear-gradient(top, #3498db, #002166);
	background-image: -o-linear-gradient(top, #3498db, #002166);
	background-image: linear-gradient(to bottom, #3498db, #002166);
	-webkit-border-radius: 9;
	-moz-border-radius: 9;
	border-radius: 9px;
	font: bold 1em Arial;
	color: #ffffff;
	padding: 0.25em 0.75em;
	text-decoration: none;
}

button:hover, input[type="submit"]:hover, input[type="reset"]:hover {
	background: #3cb0fd;
	background-image: -webkit-linear-gradient(top, #3cb0fd, #1057e6);
	background-image: -moz-linear-gradient(top, #3cb0fd, #1057e6);
	background-image: -ms-linear-gradient(top, #3cb0fd, #1057e6);
	background-image: -o-linear-gradient(top, #3cb0fd, #1057e6);
	background-image: linear-gradient(to bottom, #3cb0fd, #1057e6);
	text-decoration: none;
}

/*button:active, input[type="submit"]:active, input[type="reset"]:active {
	box-shadow: 0 0 4px 2px rgba(0,0,0,.3) inset;
	position: relative;
	top: 1px;
}*/

/*button:focus, input[type="submit"]:focus, input[type="reset"]:focus {
	outline: 0;
	background: #fafafa;
}*/

button:disabled, button:disabled:hover, button:disabled:focus, button:disabled:active {
	color: #555;
	opacity: 0.3;
}