/* 
	Created on : 13-Feb-2016, 12:02:01 PM
	Author     : Yoseph Jo
*/

div.content-left { 
	width: 47%; 
	display: inline-block;
}

#game_status{
	padding-top: 1em; 
	padding-left: 1em; 
	border: black solid 1.5px;
	border-top: #004A75 solid 1.5em;
	min-height: 150px;
}
#bot_summary {
	border: black solid 1.5px;
	min-height: 150px;
}

div#player_info {
	width: 50%;
	float: right;
	margin-right: 1em;
	border: black solid 1.5px;
}
#player_info > h3, #bot_summary > h3 {
	padding-left: 1em;
}

@media screen and (max-width: 1040px) {
	#bot_summary {
		width: 100%;
		border: black solid 1px;
	}
	div#player_info {
		border: black solid 1px;
	}
}
@media only screen and (max-width: 980px) {
	div.content-left {
		width: 95%;
		display: inline-block;
	}

	#bot_summary {
		border: none;
	}
	div#player_info {
		border: none;
	}

	div#player_info {
		width: 95%;
		display: inline-block;
		float: none;
	}
}